<app-toolbar></app-toolbar>
<div class="content">
    <div class="left">
    </div>
    <div class="collect-video">
    </div>
    <div class="simple">
    </div>
    <div class="accounting-dots">
    </div>
    <div class="right">
        <div style="overflow: hidden;
    width: 719px;">
            <img src="../assets/circle.png" alt='circleRight' class="circle" />
            <app-calculator></app-calculator>
        </div>
    </div>
    <div class="dots-right">
    </div>
</div>